.tool, .permutation[data-permutation] {
    box-sizing: border-box;
    min-width: 10px;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    color: #111;
    white-space: nowrap;
    outline: none;
    display: flex;
    align-content: center;
}

.permutation {
    width: 100px;
}

.gantt {
    margin: 25px;
}
